
<div>
    <a href="/admin" style="position:absolute;left:10%;top:10%;text-decoration:none;"><i class="fas fa-user-shield fa-2x"></i>Admin page</a>
  
  <div class="row mt-5">
        <div class="col-md-6 m-auto">        
             <div style="text-align: center"> <h3><b>Update Details</b> </h3>
                <div class="card card-body">
                <h5>Order No. = <%= user.orderNo %></h5>
                <h5>Product = <%= user.Product %></h5>
                <h5>Window = <%= user.Window %></h5>
                <h5>Activity = <%= user.Activity %></h5>
                <h5>Date = <%= user.date %></h5>
                <h5>Number of Windows/Net = <%= user.windowPerNet %></h5>
                <h5>Time Taken(Hour) = <%= user.time %></h5>
                </div>
        <h3>Record Updated Successfully</h3>
    </div>
        <a href='admin/display' class="btn btn-secondary">Display </a>
        
          
        </div>
      </div>
    </div>