
<div><a href="/users/logout" style="position:absolute;left:10%;top:10%;text-decoration:none;"><i class="fas fa-home fa-2x"></i>Home</a>
    <div class="row mt-5">
        <div class="col-md-6 m-auto">
           <div style="text-align: center"> <h3><b>Input Details</b> </h3>
             
          <div class="card card-body">
               <h5>Order No. = <%= user.orderNo %></h5>
                <h5>Product = <%= user.Product %></h5>
                <h5>Window = <%= user.Window %></h5>
                <h5>Activity = <%= user.Activity %></h5>
                <h5>Date = <%= user.date %></h5>
                <h5>Number of Windows/Net = <%= user.windowPerNet %></h5>
                <h5>Time Taken(Hour) = <%= user.time %></h5>
        </div> 
        <a href='/users/Logout' class="btn btn-secondary">Logout</a>
          </div>
          
        </div>
      </div>
    </div>